*.pyc
*.hdf5
*.log
*.sh
*.so
*.o
*.png
*.pdf
*.index
*.record
*.tf.data*
*.txt
__pycache__
Env/env
Env/install
Ops/build
Ops/release
Ops/CMakeFiles
Samples/*
Train/trainData/*
Train/testData/*
Train/valData/*
Train/Data/*
Train/NewKFData/*
Train/OldKFData/*
Train/NewKFQplots/*
checkpoint
Train/*.yaml
Train/*.py
Train/*/hls4ml_prj/*
Train/*/hls4ml_prj.tar.gz
*.npy
hls4ml_projects/*